body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1{
    font-size: 4em;
}
button{
    height: 50px;
    width: 100px;
  border: none;          
  font-size: 1.1em;  
  border-radius: 8px; 
}
button:hover{
    background-color: #d3e8ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}